.responsive {
  width: 40%;
  height: 30%;
   display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
  .responsive1 {
  width: 55%;
  height: 43%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: inherit;
  text-decoration: underline;
  text-indent: 30px;
  border-width: 10px;
  border-color: white;
  border-spacing: 10px;
  border-style: inherit;
  background-color: black;
  text-align: left;
  
}

 .button {
  background-color: black; /* Green */
  border: solid ;
  color: white;
  padding: 4px 7px;
  text-align: center;
  text-decoration: wavy;
  display: block;
  font-size: 16px;
  margin-left: 32%;
  margin-right: auto;
  font-weight: 200%;
  
  
}
  .button4 {background-color: #e7e7e7; color: black;
   border: solid ;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin-left: 10%;
  margin-right: 10%;
  } /* Gray */
.container {
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  color: #2F4F4F;
}
body{
  background-image: url(ser.jpg);
  background-size: 95%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
}
